# IDE configs
.vscode

# Python compiles
__pycache__
build
dist
*.egg-info

# Image formats
*.png
*.jpg
*.jpeg

# LaTeX compiles
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.pdf
*.snm
*.toc

# Microsoft Office formats
*.xml
*.docx
*.xlsx
*.pptx

# Other ignores
update.bib
